#more-info {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0.5%;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 30px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 5% auto;
  padding: 30px;
  border: 2px solid #ccc;
}

.side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30%;
  float: left;
  padding: 20px;
  /* background: #fff; */
  height: 99%;
}

#profile-img {
  object-fit: cover;
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

.content-container {
  width: 65%;
  float: right;
  padding: 20px;
  /* background: #fff; */
  border: 1px solid #ccc;
}

.sub-title {
  justify-content: center;
}

.sub-content {
  width: 100%;
}
